{% extends 'base.html' %}
{% load static %}

{% block content %}
    
<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <h1 class="fs-4">Note Details:</h1>
            </div>
            <div class="card-body">
                <h1> {{note.title}} </h1>
                <p> {{note.text}} </p>
            </div>
            <div class="card-footer">
                <a href="{% url 'my-notes' %}" class="btn btn-primary btn-sm">Back</a>
                <a href="{% url 'update-note' pk=note.id %}" class="btn btn-warning btn-sm">Edit</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}