{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="notes_list_heading text-center mb-5">
            <h1 class="fs-3 text-light float-start">These are My Notes:</h1>
            <a href="{% url 'new-notes' %}" class="btn btn-outline-info float-end" >+ New Note</a>

        </div>
    </div>
</div>

<div class="row">
    {% for note in notes%}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header fw-bold">{{note.title}}</div>
            <div class="card-body">
                <p>{{note.text|truncatechars:50}}</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'my-notes-detail' pk=note.id %}" class="btn btn-dark btn-outline-success btn-sm">View</a>
            </div>
        </div>
    </div>
    {% endfor %}
    
</div>

    
{% endblock %}