{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col">
            <div class="home-holder text-center text-light">
                <h1 class="fa-3">MiT World</h1>
                <h2>Ideas Rule the World, Lets help you Nurture them</h2>
                <p>You can find the following links:</p>
                <a href="{% url 'my-notes'%}" class="btn btn-success btn-sm">Go to MiT Notes</a>
                <a href="{% url 'my-notes'%}" class="btn btn-success btn-sm">Go to MiT Blog</a>
            </div>
            <div class=" row justify-content-center align-items-center my-1">

                <!-- <img src="https://cdn.mitmh2024.com/_next/static/assets/public/b2ae3c886333e8fa.png" alt="MIT Logo" width="300"> -->
                
                <img src="https://i.pinimg.com/originals/b7/82/cd/b782cd2a24cd177b2e7aaf8f7ffa3d44.gif" width="100" height="300" alt="MIT Logo">
            
            </div>
        </div>
    </div>

{% endblock %}
